#Button1 {
    padding: 25px;
    background-color: green;
    margin: 4px 2px;
    
    
}
#Button2 {
    padding: 25px;
    background-color: greenyellow;
    margin: 4px 2px;

}
#Button3 {
    padding: 25px;
    background-color: green;
    margin: 4px 2px;
    

}
#Button4 {
    padding: 25px;
    background-color: greenyellow;
    margin: 4px 2px;
    
}
#Button5 {
    padding: 25px;
    background-color: green;
    margin: 4px 2px;
    
}