/* #Button1 {
    background-color: blue;
    padding: 10px;
    color: white;
    font-size: 20px; */

#body {
    background-color: aqua;
}

.buttonmagic {
    background-color: slateblue;
    padding: 10px;
    text-color: black;
    font-size: 20px;
    margin: 25px;
}
    




